<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--
  Spring基于XML的AOP配置前期准备：
  在spring的配置⽂件中加⼊aop的约束
  xmlns:aop="http://www.springframework.org/schema/aop"
  http://www.springframework.org/schema/aop
 https://www.springframework.org/schema/aop/spring-aop.xsd

  Spring基于XML的AOP配置步骤：第⼀步：把通知Bean交给Spring管理
 第⼆步：使⽤aop:config开始aop的配置
 第三步：使⽤aop:aspect配置切⾯
 第四步：使⽤对应的标签配置通知的类型
 ⼊⻔案例采⽤前置通知，标签为aop:before
-->
    <!--把通知bean交给spring来管理-->
    <bean id="logUtil" class="com.zml.aop.test1.LogUtil"></bean>
    <bean id="testService" class="com.zml.aop.test1.TestService"></bean>
    <!--开始aop的配置-->
    <aop:config>
        <!--配置切⾯-->
        <aop:aspect id="logAdvice" ref="logUtil">
            <!--配置前置通知-->
            <aop:before method="log" pointcut="execution(public * com.zml.aop.test1.TestService.test(..))"></aop:before>
        </aop:aspect>
    </aop:config>
 </beans>